.dt-custom > thead > tr {
    background-color: lightgray;
}


.sidebar {
    scrollbar-width: thin;
    scrollbar-color: white #343a40;
  }
  
  /* Works on Chrome/Edge/Safari */
  .sidebar::-webkit-scrollbar {
    width: 12px;
  }
  .sidebar::-webkit-scrollbar-track {
    background: #343a40;
  }
  .sidebar::-webkit-scrollbar-thumb {
      background-color: white;
    border-radius: 20px;
    border: 3px solid #343a40;
  }